{% extends 'base.html' %}

{% block content %}


<div class="container">
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>Let's find your dream car together!</h2>
            <h5>Use our app to to help you add a beautiful car to your collection</h5>
            <div>
                <button class="btn btn-warning">Search Inventory</button>
                <button class="btn btn-danger">Trade Shows</button>
            </div>
        </div>
        <!-- header image -->
        <div class="col-12 col-md-6">
            <img src="../../static/images/undraw_electric_car_b-7-hl.svg" alt="Hero Header" class="header-image">
        </div>
    </header>
    <!-- End of header section -->

    <!-- start of middle section -->
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Expand Your Collection</h2>
            <p>You can harness the power of our application to expand your car collection!</p>
        </div>
    </section>
    <!-- end of section -->

    <!-- collection of features section -->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../../static/images/undraw_stripe_payments_re_chlm.svg" alt="stripe-image" id="stripe-image">
            <h4>Online Payments</h4>
            <p>Collect your dream car from the comfort of your own home!</p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/undraw_process_re_gws7.svg" alt="process-image" id="process-image">
            <h4>Pain Free Process</h4>
            <p>Find your car and buy it. It's that simple!</p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/undraw_success_factors_re_ce93.svg" alt="success-image" id="success-image">
            <h4>Satisfaction Guaranteed</h4>
            <p>If you don't enjoy our service get your money back guaranteed</p>
        </div>
    </section>
    <!-- end of collection features -->

    <!-- community section -->
    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../../static/images/undraw_group_video_re_btu7.svg" alt="Group Image" id="group-image">
        </div>

        <div class="col-12 col-md-6">
            <h4>Talk with like minded collectors</h4>
            <p>
                Talk with other collectors around the world and collab
                on collections with others. Join our Discord channel and give
                us a follow on Twitter!
            </p>
            <div>
                <button class="btn btn-warning">View On Twitter</button>
                <button class="btn btn-warning">Join Our Discord Channel!</button>
            </div>
        </div>
    </section>
    <!-- End of community section -->

    <!--Start of Footer-->
    <footer class="row" id="footer">
        <div class="col-2 col-md-2">
            <img src="../../static/images/car-dealer-logo-1.jpg" alt="Coding Drones Logo" id="footer-logo">
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Car Dealership?</p>
                <p>The Car Dealership Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Car Dealership?</p>
                <p>The Car Dealership Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Car Dealership?</p>
                <p>The Car Dealership Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Car Dealership?</p>
                <p>The Car Dealership Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Car Dealership?</p>
                <p>The Car Dealership Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
    </footer>
    <!-- end of footer -->

</div>
{% endblock content %}